	.content{

		.text-center{
			position: absolute;
		 	top: 50%;
		 	left: 34%;
		    font-size: 2.5em;
		}

		p{
			font-size: 0.8em;
		}

		h2{
			font-size: 1.1em;
			height: 100%;
		}

	}

	.alert-title{
			font-size: 18px;
	}